@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

.font-mono-custom {
  font-family: 'JetBrains Mono', monospace;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #040D12;
}

::-webkit-scrollbar-thumb {
  background: #183D3D border-radius;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #26B79A;
}
